body {
  margin: 0;
  padding: 0;
  background-color: #849d8f;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

html {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/fonts/roboto.woff') format('woff'),
    url('/fonts/roboto.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/fonts/robotomedium.woff') format('woff'),
    url('/fonts/robotomedium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('/fonts/robotobold.woff') format('woff'),
    url('/fonts/robotobold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.button {
  font: inherit;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  background-color: #e84d37;
  border: none;
}

.main-button-two {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.button:hover,
.button:focus,
.button:active {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.main-header {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  width: 1146px;
  margin: 0 auto;
  flex-direction: column;
}

.main-navigation {
  display: flex;
}

.site-user-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time-and-tel {
  align-self: flex-end;
  text-align: right;
}

.main-header a {
  color: #ffffff;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  padding-left: 10px;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
}

.loupe {
  list-style-image: url(../img/svg/loupe.svg);
}

.entrance {
  list-style-image: url(../img/svg/entrance.svg);
}

.basket {
  list-style-image: url(../img/svg/basket.svg);
}

.basket-red {
  list-style-image: url(../img/svg/basket-red.svg);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #ffffff;
  color: #323232;
  padding: 5px;
}

.site-navigation a:active {
  background-color: #d07058;
  padding: 5px;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  background-color: #fbded8;
  color: #323232;
}

.catalog-menu a:active {
  background-color: #d07058;
  padding: 5px;
}

.container a:hover,
.container a:focus,
.main-footer a:hover,
.main-footer a:focus {
  color: #ffbc9e;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border-bottom-color: rgba(255, 188, 158, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.bread {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.bread li,
.bread-bottom li {
  display: inline;
}

.current {
  background-color: #d07058;
  padding: 5px;
}


.main-backgrounds {
  background-image: url(../img/cream/creme-brulee-and-ice-cream-with-raspberry-jam.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 582px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.main-backgrounds h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}

.wrap-bt-two {
  display: flex;
  align-self: center;
}

.wrap-bt-radio {
  display: flex;
  align-self: center;
}

.wrap-both {
  display: flex;
  margin-top: auto;
}

.background-second {
  background-image: url(../img/cream/chocolate-sundae-and-lemon-sorbet.png);
}

.background-third {
  background-image: url(../img/cream/ice-cream-with-fondant-and-strawberry-sorbet.png);
}

.change-bg {
  width: 21px;
  height: 21px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 50%;
  background-color: #849d8f;
}

.button-bg {
  background-color: #ffffff;
}

.list-main-banners {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.banners-list-item:nth-child(1) {
  width: 560px;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
}

.banners-list-item:nth-child(2) {
  width: 560px;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
}

.main-banners h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  display: block;
}

.main-banners p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.main-banners a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #e84d37;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.main-hit {
  color: #ffffff;
  text-align: center;
}

.main-hit p {
  text-align: left;
}

.list-main-hit {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.list-main-hit li {
  width: 267px;
}

.main-about {
  background-image: url(../img/wafer.jpg);
  padding: 20px;
}

.main-about h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
}

.list-style-reset {
  list-style: none;
}

.main-about-item {
  width: 475px;
}

.main-blog {
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 20px;
  width: 560px;
}

.main-blog p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  margin-bottom: 0;
}

.main-blog a {
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  margin-bottom: 85px;
  display: block;
}

.main-subscribe-bg {
  background-repeat: no-repeat;
}

.main-subscribe-email {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url(../img/svg/bg-post.svg);
  background-repeat: no-repeat;
  display: flex;
  width: 560px;
  padding: 20px;
  flex-wrap: wrap;
}

.crutch {
  display: flex;
  justify-content: space-between;
}

.main-subscribe-email p {
  background-color: #f8f7f4;
}


.main-subscribe-email input::placeholder {
  font-weight: 400;
  color: #999999;
}

.main-subscribe-email input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
}

.main-subscribe-email input:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
  box-sizing: border-box;
}

.main-subscribe-email input:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
  box-sizing: border-box;
}

.main-contact {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  text-align: left;
  border-radius: 5px;
  background-color: #ffffff;
  width: 300px;
  padding: 25px;
}

.main-contact a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.main-contact h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.time {
  font-size: 14px;
  font-weight: 400;
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  width: 1146px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-content: center;
}

.footer-social {
  opacity: 0.5;
  display: flex;
  min-width: 190px;
  justify-content: space-around;
}

.twitter {
  list-style-image: url(../img/svg/twitter.svg);
}

.instagram {
  list-style-image: url(../img/svg/instagram.svg);
}

.facebook {
  list-style-image: url(../img/svg/fb.svg);
}

.vk {
  list-style-image: url(../img/svg/vk.svg);
}


.footer-info a,
.footer-link-html-academy,
.main-hit a,
.catalog-assorti a,
.bread a {
  border-bottom-color: rgba(99, 77, 77, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ffffff;
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.wrap-copyright {
  display: flex;
  flex-direction: column;
}

.wrap-footer-info {
  display: flex;
  justify-content: center;
}

.current-bread a,
.bread-bottom a {
  border: none;
}

.bread-bottom {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  float: right;
}

.bread-bottom-current a {
  text-align: center;
  display: inline-block;
  width: 27px;
  height: 26px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 26px;
}

.catalog-sort {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
}

/*
.wrap-sort{
  display: flex;
  flex-direction: column;
}
.wrap-price{
  display: flex;
  flex-direction: column;
}
.wrap-fat{
  display: flex;
  flex-direction: column;
}
.wrap-fillers{
  display: flex;
  flex-direction: row;
}
*/
.catalog-fillers,
.sort-button,
.catalog-fat {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.favorite {
  font-weight: 700;
  list-style-image: url(../img/svg/heart.svg);
}

.footer-link-html-academy-logo {
  display: block;
  background-image: url(../img/svg/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  width: 108px;
  height: 38px;
}

.footer-link-html-academy {
  font-size: 12px;
  color: #fefefe;
}

.current {
  background-color: #d07058;
  padding: 5px;
}

.catalog-assorti {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.list-assorti {
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-assorti li {
  width: 267px;
}


.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price-weight {
  font-size: 30px;
  line-height: 45px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.modal {
  color: #000000;
  background-color: #f8f7f4;
  background-image: url(../img/substrate-modal.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.feedback h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #323232;
}

.feedback {
  padding: 24px;
  width: 478px;
}

.feedback button {
  align-self: flex-start;
}

.feedback-list {
  padding: 0;
}

.right {
  float: right;
}

.feedback input,
.feedback textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
}

.feedback input {
  width: 267px;
  border-radius: 5px;
}

.feedback textarea {
  width: 428px;
  border-radius: 5px;
}

.feedback input:focus,
.feedback textarea:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
  box-sizing: border-box;
}

.feedback input:hover,
.feedback textarea:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
  box-sizing: border-box;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.login-form {
  width: 277px;
  border-radius: 5px;
  padding: 19px;
}

.login-form a {
  float: right;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  border-radius: 5px;
  background-color: #ffffff;
  width: 241px;
  border-radius: 5px;
}

.login-form input[type="email"]::placeholder,
.login-form input[type="password"]::placeholder {
  font-weight: 400;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.login-form input:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
  box-sizing: border-box;
}

.login-form input:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
  box-sizing: border-box;
}

.search {
  width: 341px;
  border-radius: 5px;
  padding: 15px;
}

.search input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-align: left;
  border-radius: 5px;
  background-color: #ffffff;
  width: 311px;
}

.search input::placeholder {
  font-weight: 400;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.recovery {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-align: left;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
