body {
  margin: 0;
  padding: 0;
  background-color: #849d8f;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-header {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.main-header a {
  text-decoration: none;
  color: #ffffff;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.site-navigation,
.user-navigation,
.catalog-menu {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #ffffff;
  color: #323232;
  padding: 5px;
}

.site-navigation a:active {
  background-color: #d07058;
  padding: 5px;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  background-color: #fbded8;
  color: #323232;
}

.catalog-menu a:active {
  background-color: #d07058;
  padding: 5px;
}

.main-about {
  background-image: url(../img/wafer.jpg);
}

.main-about h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
}

.main-about-list {
  list-style: none;
}

.main-about-item {
  text-align: left;
}

.main-blog {
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}

.main-blog p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

}

.main-blog h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-align: left;
}

.main-subscribe-email {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  background-image: url(../img/svg/bg-post.svg);
  background-repeat: no-repeat;
}

.main-subscribe-email p {
  background-color: #f8f7f4;
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

.footer-social {
  opacity: 0.5;
}

.twitter {
  list-style-image: url(../img/svg/twitter.svg);
}

.instagram {
  list-style-image: url(../img/svg/instagram.svg);
}

.facebook {
  list-style-image: url(../img/svg/fb.svg);
}

.vk {
  list-style-image: url(../img/svg/vk.svg);
}

.footer-info a {
  text-decoration: none;
  border-bottom-color: rgba(254, 254, 254, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ffffff;
}

.favorite {
  font-weight: 700;
  list-style-image: url(../img/svg/heart.svg);
}


.footer-link-html-academy-logo {
  display: block;
  background-image: url(../img/svg/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  width: 108px;
  height: 38px;
}

.footer-link-html-academy {
  font-size: 12px;
  color: #fefefe;
}

.current {
  background-color: #d07058;
  padding: 5px;
}

.catalog-assorti ul {
  list-style: none;
}

.catalog-assorti {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-assorti a {
  text-decoration: none;
  border-bottom-color: rgba(254, 254, 254, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ffffff;
}

.catalog-assorti p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-assorti span {
  font-size: 30px;
  line-height: 45px;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
